$term0: #000000; $term1: #a21e29; $term2: #1CA800; $term3: #C0A000;
$term4: #0020C0; $term5: #863696; $term6: #00A89A; $term7: #BFBFBF;
$term8: #484848; $term9: #FF7676; $term10: #00F200; $term11: #F2F200;
$term12: #7D97FF; $term13: #FF70FF; $term14: #00F0F0; $term15: #ffffff;
$term16: #000000; $term17: #00005f; $term18: #000087; $term19: #0000af; $term20: #0000d7; $term21: #0000ff;
$term22: #005f00; $term23: #005f5f; $term24: #005f87; $term25: #005faf; $term26: #005fd7; $term27: #005fff;
$term28: #008700; $term29: #00875f; $term30: #008787; $term31: #0087af; $term32: #0087d7; $term33: #0087ff;
$term34: #00af00; $term35: #00af5f; $term36: #00af87; $term37: #00afaf; $term38: #00afd7; $term39: #00afff;
$term40: #00d700; $term41: #00d75f; $term42: #00d787; $term43: #00d7af; $term44: #00d7d7; $term45: #00d7ff;
$term46: #00ff00; $term47: #00ff5f; $term48: #00ff87; $term49: #00ffaf; $term50: #00ffd7; $term51: #00ffff;
$term52: #5f0000; $term53: #5f005f; $term54: #5f0087; $term55: #5f00af; $term56: #5f00d7; $term57: #5f00ff;
$term58: #5f5f00; $term59: #5f5f5f; $term60: #5f5f87; $term61: #5f5faf; $term62: #5f5fd7; $term63: #5f5fff;
$term64: #5f8700; $term65: #5f875f; $term66: #5f8787; $term67: #5f87af; $term68: #5f87d7; $term69: #5f87ff;
$term70: #5faf00; $term71: #5faf5f; $term72: #5faf87; $term73: #5fafaf; $term74: #5fafd7; $term75: #5fafff;
$term76: #5fd700; $term77: #5fd75f; $term78: #5fd787; $term79: #5fd7af; $term80: #5fd7d7; $term81: #5fd7ff;
$term82: #5fff00; $term83: #5fff5f; $term84: #5fff87; $term85: #5fffaf; $term86: #5fffd7; $term87: #5fffff;
$term88: #870000; $term89: #87005f; $term90: #870087; $term91: #8700af; $term92: #8700d7; $term93: #8700ff;
$term94: #875f00; $term95: #875f5f; $term96: #875f87; $term97: #875faf; $term98: #875fd7; $term99: #875fff;
$term100: #878700; $term101: #87875f; $term102: #878787; $term103: #8787af; $term104: #8787d7; $term105: #8787ff;
$term106: #87af00; $term107: #87af5f; $term108: #87af87; $term109: #87afaf; $term110: #87afd7; $term111: #87afff;
$term112: #87d700; $term113: #87d75f; $term114: #87d787; $term115: #87d7af; $term116: #87d7d7; $term117: #87d7ff;
$term118: #87ff00; $term119: #87ff5f; $term120: #87ff87; $term121: #87ffaf; $term122: #87ffd7; $term123: #87ffff;
$term124: #af0000; $term125: #af005f; $term126: #af0087; $term127: #af00af; $term128: #af00d7; $term129: #af00ff;
$term130: #af5f00; $term131: #af5f5f; $term132: #af5f87; $term133: #af5faf; $term134: #af5fd7; $term135: #af5fff;
$term136: #af8700; $term137: #af875f; $term138: #af8787; $term139: #af87af; $term140: #af87d7; $term141: #af87ff;
$term142: #afaf00; $term143: #afaf5f; $term144: #afaf87; $term145: #afafaf; $term146: #afafd7; $term147: #afafff;
$term148: #afd700; $term149: #afd75f; $term150: #afd787; $term151: #afd7af; $term152: #afd7d7; $term153: #afd7ff;
$term154: #afff00; $term155: #afff5f; $term156: #afff87; $term157: #afffaf; $term158: #afffd7; $term159: #afffff;
$term160: #d70000; $term161: #d7005f; $term162: #d70087; $term163: #d700af; $term164: #d700d7; $term165: #d700ff;
$term166: #d75f00; $term167: #d75f5f; $term168: #d75f87; $term169: #d75faf; $term170: #d75fd7; $term171: #d75fff;
$term172: #d78700; $term173: #d7875f; $term174: #d78787; $term175: #d787af; $term176: #d787d7; $term177: #d787ff;
$term178: #d7af00; $term179: #d7af5f; $term180: #d7af87; $term181: #d7afaf; $term182: #d7afd7; $term183: #d7afff;
$term184: #d7d700; $term185: #d7d75f; $term186: #d7d787; $term187: #d7d7af; $term188: #d7d7d7; $term189: #d7d7ff;
$term190: #d7ff00; $term191: #d7ff5f; $term192: #d7ff87; $term193: #d7ffaf; $term194: #d7ffd7; $term195: #d7ffff;
$term196: #ff0000; $term197: #ff005f; $term198: #ff0087; $term199: #ff00af; $term200: #ff00d7; $term201: #ff00ff;
$term202: #ff5f00; $term203: #ff5f5f; $term204: #ff5f87; $term205: #ff5faf; $term206: #ff5fd7; $term207: #ff5fff;
$term208: #ff8700; $term209: #ff875f; $term210: #ff8787; $term211: #ff87af; $term212: #ff87d7; $term213: #ff87ff;
$term214: #ffaf00; $term215: #ffaf5f; $term216: #ffaf87; $term217: #ffafaf; $term218: #ffafd7; $term219: #ffafff;
$term220: #ffd700; $term221: #ffd75f; $term222: #ffd787; $term223: #ffd7af; $term224: #ffd7d7; $term225: #ffd7ff;
$term226: #ffff00; $term227: #ffff5f; $term228: #ffff87; $term229: #ffffaf; $term230: #ffffd7; $term231: #ffffff;
$term232: #080808; $term233: #121212; $term234: #1c1c1c; $term235: #262626; $term236: #303030; $term237: #3a3a3a;
$term238: #444444; $term239: #4e4e4e; $term240: #585858; $term241: #626262; $term242: #6c6c6c; $term243: #767676;
$term244: #808080; $term245: #8a8a8a; $term246: #949494; $term247: #9e9e9e; $term248: #a8a8a8; $term249: #b2b2b2;
$term250: #bcbcbc; $term251: #c6c6c6; $term252: #d0d0d0; $term253: #dadada; $term254: #e4e4e4; $term255: #eeeeee;
